# Módulo 5 Tarefa 1
## Base de nascidos vivos do DataSUS
O DataSUS disponibiliza diversos arquivos de dados com relação a seus segurados, conforme a [lei da transparência de informações públicas](https://www.sisgov.com/transparencia-acesso-informacao/#:~:text=A%20Lei%20da%20Transpar%C3%AAncia%20(LC,em%20um%20site%20na%20internet.). 

Essas informações podem ser obtidas pela internet [aqui](http://www2.datasus.gov.br/DATASUS/index.php?area=0901&item=1). Como o processo de obtenção desses arquivos foge um pouco do nosso escopo, deixamos o arquivo ```SINASC_RO_2019.csv``` já como vai ser encontrado no DataSUS. O dicionário de dados está no arquivo ```estrutura_sinasc_para_CD.pdf``` (o nome do arquivo tal qual no portal do DataSUS).

### Nosso objetivo
Queremos deixar uma base organizada para podermos estudar a relação entre partos com risco para o bebê e algumas condições como tempo de parto, consultas de pré-natal etc.

#### Preparação da base
1. Carregue a base 'SINASC_RO_2019.csv'. Conte o número de registros e o número de registros não duplicados da base. Dica: você aprendeu um método que remove duplicados, encadeie este método com um outro método que conta o número de linhas. **Há linhas duplicadas?**  

2. Conte o número de valores *missing* por variável.  

3. Ok, no item anterior você deve ter achado pouco prático ler a informação de tantas variáveis, muitas delas nem devem ser interesantes. Então crie uma seleção dessa base somente com as colunas que interessam. São elas:
``` 
['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5'] 
```
Refaça a contagem de valores *missings*.  

4. Apgar é uma *nota* que o pediatra dá ao bebê quando nasce de acordo com algumas características associadas principalmente à respiração. Apgar 1 e Apgar 5 são as notas 1 e 5 minutos do nascimento. Apgar5 será a nossa variável de interesse principal. Então remova todos os registros com Apgar5 não preenchido. Para esta seleção, conte novamente o número de linhas e o número de *missings*.  

5. observe que as variáveis ```['ESTCIVMAE', 'CONSULTAS']``` possuem o código ```9```, que significa *ignorado*. Vamos assumir que o não preenchido é o mesmo que o código ```9```.<br>
6. Substitua os valores faltantes da quantitativa (```QTDFILVIVO```) por zero.  
7. Das restantes, decida que valore te parece mais adequado (um 'não preenchido' ou um valor 'mais provável' como no item anterior) e preencha. Justifique. Lembre-se de que tratamento de dados é trabalho do cientista, e que estamos tomando decisões a todo o momento - não há necessariamente certo e errado aqui.  
8. O Apgar possui uma classificação indicando se o bebê passou por asfixia:
- Entre 8 e 10 está em uma faixa 'normal'. 
- Entre 6 e 7, significa que o recém-nascido passou por 'asfixia leve'. 
- Entre 4 e 5 significa 'asfixia moderada'.
- Entre 0 e 3 significa 'asfixia severa'.  

Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização.  
<br>
9. Renomeie as variáveis para que fiquem no *snake case*, ou seja, em letras minúsculas, com um *underscore* entre as palávras. Dica: repare que se você não quiser criar um *dataframe* novo, você vai precisar usar a opção ```inplace = True```.

In [121]:
import pandas as pd
import requests

# 1) seu código aqui
sinasc = pd.read_csv('SINASC_RO_2019.csv')
print(sinasc.shape)
sinasc.drop_duplicates().shape
# Não há duplicados

(27028, 69)

(27028, 69)

In [122]:
# 2) seu código aqui
sinasc.isnull().sum()

ORIGEM          0
CODESTAB      115
CODMUNNASC      0
LOCNASC         0
IDADEMAE        0
             ...
munResUf        0
munResLat       1
munResLon       1
munResAlt       1
munResArea      1
Length: 69, dtype: int64

In [123]:
# 3) seu código aqui
var_interesse = ['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
 'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5']
sinasc[var_interesse].isnull().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      317
ESCMAE         312
QTDFILVIVO    1573
GESTACAO      1232
GRAVIDEZ        79
CONSULTAS        0
APGAR5         103
dtype: int64

In [124]:
sinasc = sinasc[var_interesse]
sinasc

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0
...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0

In [125]:
sinasc['APGAR5'].sort_values()

25995    0.0
5800     0.0
24458    0.0
14144    0.0
19426    0.0
        ...
25378    NaN
25864    NaN
26715    NaN
26923    NaN
26935    NaN
Name: APGAR5, Length: 27028, dtype: float64

In [126]:
# 4) seu código aqui
sinasc.dropna(axis=0, subset='APGAR5', inplace=True)
sinasc.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      315
ESCMAE         310
QTDFILVIVO    1566
GESTACAO      1216
GRAVIDEZ        76
CONSULTAS        0
APGAR5           0
dtype: int64

In [127]:
sinasc.shape

(26925, 9)

In [128]:
# 5) seu código aqui
sinasc[['ESTCIVMAE', 'CONSULTAS']].isna().sum()

ESTCIVMAE    315
CONSULTAS      0
dtype: int64

In [129]:
sinasc.loc[sinasc['ESTCIVMAE'].isna()] = 9
sinasc[['ESTCIVMAE', 'CONSULTAS']].isna().sum()

ESTCIVMAE    0
CONSULTAS    0
dtype: int64

In [130]:
sinasc[['ESTCIVMAE', 'CONSULTAS']].isnull().sum()

ESTCIVMAE    0
CONSULTAS    0
dtype: int64

In [131]:
sinasc.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE        0
ESCMAE         264
QTDFILVIVO    1537
GESTACAO      1193
GRAVIDEZ        74
CONSULTAS        0
APGAR5           0
dtype: int64

In [132]:
# 6) Seu código aqui
sinasc.loc[sinasc['QTDFILVIVO'].isnull()] = 0
sinasc.isnull().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE        0
ESCMAE         243
QTDFILVIVO       0
GESTACAO      1083
GRAVIDEZ        64
CONSULTAS        0
APGAR5           0
dtype: int64

In [133]:
sinasc.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE        0
ESCMAE         243
QTDFILVIVO       0
GESTACAO      1083
GRAVIDEZ        64
CONSULTAS        0
APGAR5           0
dtype: int64

In [134]:
# 7) seu código aqui
# ESCMAE = categorico
# GESTACAO = categórico
# GRAVIDEZ = categórico

# Dados Faltantes (categorias: ESMAE, GESTACAO, GRAVIDEZ)
Optei por preencher os dados faltantes destas colunas com "Ignorado", uma vez que são colunas categorizadas, onde a substituição por outros valores poderia trazer inconsistência para futuras análises.
No caso da coluna "Gestação", comparei com a coluna "Quantidade de filhos vivos" a fim de verificar se o valor "Única", iria refletir em "QTDFILVIVO = ", o que não é verdadeiro.

In [135]:
sinasc[['QTDFILVIVO', 'GRAVIDEZ']]

       QTDFILVIVO GRAVIDEZ
0             0.0    Única
1             1.0    Única
2             2.0    Única
3             0.0    Única
4             1.0    Única
...           ...      ...
27023         1.0    Única
27024         0.0    Única
27025         0.0    Única
27026         1.0    Única
27027         1.0    Única

[26925 rows x 2 columns]

In [137]:
sinasc.loc[sinasc['ESCMAE'].isna()] = 9
sinasc.loc[sinasc['GESTACAO'].isna()] = 9
sinasc.loc[sinasc['GRAVIDEZ'].isna()] = 9
sinasc.isna().sum()

LOCNASC       0
IDADEMAE      0
ESTCIVMAE     0
ESCMAE        0
QTDFILVIVO    0
GESTACAO      0
GRAVIDEZ      0
CONSULTAS     0
APGAR5        0
dtype: int64

In [138]:
# 8) seu código aqui
sinasc.loc[sinasc['APGAR5'] >= 8, 'classif_apgar5'] = 'normal'
sinasc.loc[(sinasc['APGAR5'] >= 6) & (sinasc['APGAR5'] <= 7), 'classif_apgar5'] = 'asfixia leve'
sinasc.loc[(sinasc['APGAR5'] >= 4) & (sinasc['APGAR5'] <= 5), 'classif_apgar5'] = 'asfixia moderada'
sinasc.loc[(sinasc['APGAR5'] >= 0) & (sinasc['APGAR5'] <= 3), 'classif_apgar5'] = 'asfixia severa'
sinasc

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5,classif_apgar5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0,normal
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0,normal
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0,normal
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0,normal
...,...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0,normal
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0,normal
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0,normal
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0,normal

In [139]:
sinasc['APGAR5'].value_counts()

9.0     15954
10.0     7276
8.0      1753
0.0      1552
7.0       219
6.0        68
5.0        37
1.0        21
4.0        17
2.0        15
3.0        13
Name: APGAR5, dtype: int64

In [140]:
# 9) seu código aqui
sinasc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26925 entries, 0 to 27027
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   LOCNASC         26925 non-null  int64
 1   IDADEMAE        26925 non-null  int64
 2   ESTCIVMAE       26925 non-null  float64
 3   ESCMAE          26925 non-null  object
 4   QTDFILVIVO      26925 non-null  float64
 5   GESTACAO        26925 non-null  object
 6   GRAVIDEZ        26925 non-null  object
 7   CONSULTAS       26925 non-null  int64
 8   APGAR5          26925 non-null  float64
 9   classif_apgar5  26925 non-null  object
dtypes: float64(3), int64(3), object(4)
memory usage: 2.3+ MB

In [141]:
sinasc.columns = ['local_nascim', 
                  'idade_mae', 
                  'estado_civ_mae', 
                  'escolar_mae', 
                  'qtd_filho_vivo',
                  'gestacao',
                  'gravidez',
                  'consultas',
                  'apgar5',
                  'classif_apgar5']
sinasc

,local_nascim,idade_mae,estado_civ_mae,escolar_mae,qtd_filho_vivo,gestacao,gravidez,consultas,apgar5,classif_apgar5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0,normal
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0,normal
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0,normal
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0,normal
...,...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0,normal
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0,normal
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0,normal
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0,normal